
body, html {
    cursor:default; /* only display default cursor when hovering over ui */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}
* {
    /* supposed to prevent selecting elements, iOS requires extra */
    touch-action:none;
    -webkit-user-select: none;
    user-select: none;
}
#ui * {
    z-index:1;
    position:absolute;
}
#dpad, #rotate {
    bottom:calc(0px + 17.5vh);
    left:0;
    right:0;
    margin:auto;
}
#dpad > *, #rotate > * {
    margin:auto;
    background-image: url("images/arrow.png");
    background-size:100% 100%;

    top:0;
    bottom:0;
    left:0;
    right:0;
}
#dpad > * {
    width:40px;
    height:18px;
    --translation0:translateY(-16vh);
    --translation1:translateY(-12vh);
    transition:opacity 0.25s, filter 0.5s;
    opacity:1;
}
#dpad > *.invisible {
    opacity:0;
}
#dpad.moving > * {
    filter:grayscale(1);
}
#rotate > * {
    width:50px;
    height:20px;
    --sidesTranslation:translateY(-24vh);
    opacity:0.5;
}
#dpad .north {
    transform:var(--translation1);
}
#dpad .south {
    transform:rotate(180deg) var(--translation1);
}
#dpad .west {
    transform:rotate(-90deg) var(--translation1);
}
#dpad .east {
    transform:rotate(90deg) var(--translation1);
}

#dpad .northwest {
    transform:rotate(-45deg) var(--translation0);
}
#dpad .southwest {
    transform:rotate(-135deg) var(--translation0);
}
#dpad .northeast {
    transform:rotate(45deg) var(--translation0);
}
#dpad .southeast {
    transform:rotate(135deg) var(--translation0);
}

#rotate .left {
    transform:rotate(-90deg) var(--sidesTranslation);
}
#rotate .right {
    transform:rotate(90deg) var(--sidesTranslation);

}
#back {
    top:5px;
    left:5px;
    background-color: red;
    padding:5px;
    border-radius:5px;
}
#back > a {
    position:relative;
    color:white;
    text-decoration:none;
}