/* Load the Audiowide font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

h1,h4,.section-font {
    font-family:"Audiowide", fantasy;
}
body {
    background: #ff8000;
}
.container-fluid {
    max-width:800px;
    background:#ffffff;
}