@import url("fonts/audiowide.css");

h1,h4,.section-font {
    font-family:"Audiowide", fantasy;
}
body {
    background: #c04000;
    padding:0px 10px 0px 10px;
}
.container-fluid {
    max-width:800px;
    background:#ffffff;
    padding: 0px 20px 20px 20px;
    margin:40px auto 40px auto;
    border-radius:5px;
}