@import url("fonts/audiowide.css");
body {
    background: #c0c0c0;
    padding:0px 10px 0px 10px;
    height:100%;
    overflow:hidden;
}
:root {
    --grid-size:20px;
}

* {
    /* supposed to prevent selecting elements, iOS requires extra */
    touch-action:none;
    -webkit-user-select: none;
    user-select: none;
}

#map-container {
    position:fixed;
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;
    background:black;
    overflow:hidden;
    border-radius:5px;
}
#map {
    width:100%;
    height:100%;
    --map-offset-x: 0;
    --map-offset-y: 0;
    transform: translate(
        calc(1px * var(--map-offset-x)),
        calc(1px * var(--map-offset-y))
    );
}
#map * {
    position:absolute;
}
#map > .icon {
    width:0;
    height:0;
    
    top:calc(50% - var(--grid-size) * var(--y));
    left:calc(50% + var(--grid-size) * var(--x));

    opacity:0;
    transition:opacity 0.25s;
}
#map > .icon > .title {
    transform:translate(var(--grid-size), -50%);
    color:white;
    
    width:auto;
    height:auto;
    white-space:nowrap;
    font-family:"Audiowide", fantasy;
}
#map > .icon > button {
    transform: translate(-50%, -50%);
    
    background-color: white;
    border-radius:0;
    border:0;
    width:var(--grid-size);
    height:var(--grid-size);
    display:block;

    padding:0px;
    margin:0px;

    transition:width 0.15s, height 0.15s;
}
#map > .icon > button:hover {
    width:30px;
    height:30px;
}
#map > .icon > button:active {
    background:lightgrey;
}



#back {
    position:absolute;
    z-index:1;

    top:5px;
    left:5px;
    background-color:cornflowerblue;
    padding:5px;
    border-radius:5px;
}
#back > a {
    position:relative;
    color:white;
    text-decoration:none;
}