#popup * {
    position:absolute;
}
#popup {
    position:fixed;
    z-index:2;
    
    width:90%;
    top:calc(45px + 100vh);
    bottom:calc(45px - 100vh);
    left:0;
    right:0;
    margin:auto;
    background-color: #ffffff;
    border-radius:5px;

    transform:translateY(0);
    transition:transform 0.5s;

    --offset-height: 35px;
}
#popup.opened {
    transform:translateY(-100vh);
}
#popup.closed {
    visibility:hidden;
}
#popup > button {
    width:100%;
    height:var(--offset-height);

    display:block;
    background-color: dimgray;
    color:#ffffff;
    cursor:pointer;

    border:0;
    border-radius:5px 5px 0px 0px;
    border-bottom:2px solid black;

    background-repeat:repeat-x;
    background-image: url(images/grey-stripes.png);
    background-size: contain;
}
#popup > button > div {
    left:0;
    right:0;
    margin:0 auto 0 auto;
    top:6px;
    width:calc(20px * 400 / 130 * 3);
    height:20px;
    background-repeat:repeat-x;
    background-image: url(images/arrows.png);
    background-size: contain;
    transition:.25s top;
}
#popup > button:hover > div {
    top:8px;
}
#popup > iframe {
    border:0;
    left:0;
    width:100%;
    height:calc(100% - var(--offset-height));
    bottom:0;
}