body, html { cursor:default; background:#000000; border: 0px none; padding: 0px; margin: 0px; width: 100%; height: 100%; overflow: hidden; position: fixed; }
* {
    touch-action:none;
    -webkit-user-select: none;
    user-select: none;
}
#ui * {
    z-index:1;
    position:absolute;
}
#dpad, #rotate {
    bottom:calc(20px + 17.5vh);
    left:0;
    right:0;
    margin:auto;
}
#dpad > *, #rotate > * {
    margin:auto;
    background-image: url("images/arrow.png");
    background-size:100% 100%;

    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0.5;
}
#dpad > * {
    width:40px;
    height:18px;
    --translation0:translateY(-14vh);
    --translation1:translateY(-12vh);
    transition:opacity 0.25s;
}
#rotate > * {
    width:50px;
    height:20px;
    --sidesTranslation:translateY(-22vh);
}
#dpad .north {
    transform:var(--translation1);
}
#dpad .south {
    transform:rotate(180deg) var(--translation1);
}
#dpad .west {
    transform:rotate(-90deg) var(--translation1);
}
#dpad .east {
    transform:rotate(90deg) var(--translation1);
}

#dpad .northwest {
    transform:rotate(-45deg) var(--translation0);
}
#dpad .southwest {
    transform:rotate(-135deg) var(--translation0);
}
#dpad .northeast {
    transform:rotate(45deg) var(--translation0);
}
#dpad .southeast {
    transform:rotate(135deg) var(--translation0);
}

#rotate .left {
    transform:rotate(-90deg) var(--sidesTranslation);
}
#rotate .right {
    transform:rotate(90deg) var(--sidesTranslation);

}